.header {
    width: 100%;
    height: 30px;
    background-color: black;

}

.header i {
    margin-top: -1px;
}

.header .isi {
    margin-left: 30px;
    margin-top: -25px;
    color: whitesmoke;
    font-size: 20px;
}

.header .isi b {
    margin-left: 5px;
    margin-top: -25px;
    color: orangered;
    font-size: 20px;
}

#subheader .logo {
    background-color: whitesmoke;
    width: 100%;
    height: 90px;
    font-size: 7pt;
}

#subheader .logo .judul {
    margin-left: 90px;
    margin-top: -90px;
    font-size: 17pt;
    color: orange;
}

#subheader .logo .subjudul {
    margin-left: 90px;
    margin-top: -10px;
    font-size: 12pt;
    color: black;
}

#subheader .logo .menu {
    float: right;
    color: black;
    padding: 20px;
    font-size: 25px;
    margin-top: -60px;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#home {
    background-color: rgb(233, 230, 230);
    padding-top: 20px;
    height: 780px;
}

#home .home1 .isihome {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home .home1 .gmb1 {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*   width: 1000px; */
    /* height: 250px; */
    height: auto;
    margin-bottom: 30px;
    margin-top: 0px;
}

#home .box .isibox {
    background-color: #fff;
    float: left;
    width: 300px;
    height: 200px;
    padding: 20px;
    margin-left: 80px;
    margin-bottom: 10px;
    box-shadow: 2px 1px rgba black(0.05);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

#home .box .isibox .link:hover {
    color: blue;
}

#home .box .isibox .link {
    color: black;
}

#company {
    background-image: url(../img/gedung.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding: 120px;
    font-size: 32px;
    text-align: center;
    color: white;

}

#company .detail {
    background-color: rgba(255, 68, 0, 0.932);
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#company .detail:hover,
.detail:active {
    background-color: blue;
}

#project {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

#project .isiproject {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

#customer {
    background-color: rgb(233, 230, 230);
    height: 300px;
    text-align: center;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#customer .isicustomer {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 150px;
    height: 100px;
    width: 150;
}

#Contactus {
    background-image: url(../img/kontruksi1.jpg);
    background-size: auto;
    position: relative;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 1350px;
}

#Contactus .isicontactus h1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#Contactus .isicontactus p {
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#Contactus .isicontactus .form {
    background-color: darkblue;
    padding: 50px;
    border-radius: 5px;
    height: 350px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    color: white;

    font-size: 16px;
    resize: none;
}

input[type=submit] {
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: lightgreen;
}

#Contactus .maps {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 100px;
    width: 620px;

}

#Footer {
    background-color: darkgrey;
    padding-top: 30px;
    height: 50px;
}

#Footer .copyright {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    float: left;
    margin-left: 50px;
}

#Footer .by {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    float: right;
    margin-right: 50px;
}